{% extends 'base.html.twig' %}

{% block title %}Glossary index
{% endblock %}

{% block body %}
	<h1>Glossary index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Word</th>
				<th>Definition</th>
				<th>Source</th>
				<th>Url</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for glossary in glossaries %}
				<tr>
					<td>{{ glossary.id }}</td>
					<td>{{ glossary.word }}</td>
					<td>{{ glossary.definition }}</td>
					<td>{{ glossary.source }}</td>
					<td>{{ glossary.url }}</td>

					<td>
						<a href="{{ path('glossary_show', {'id': glossary.id}) }}">show</a>
						<a href="{{ path('glossary_edit', {'id': glossary.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('article_new') }}">Create new</a>
{% endblock %}
