{# squelette d'une card #}
<div class="card media-shape {{media.type}} category{% for category in media.category %}{{category.id}}{% endfor %} {% for ageRange in media.ageRange %}ageRange{{ageRange.id}}{% endfor %} offset-md-2 col-12 col-md-10 card-body cardradius my-3" id="list-item-1">
	<div class="h-auto">
		<div>
			<div>
				<div class="cardhead text-center">
					<h3 class="text-center cardtitle">{{media.title|title}}
					</h3>
					<hr class="cardline">
					<div class="d-inline">
						<p class="cardsorting">Ce média
							{% if media.type == "article" %}
								article
							{% endif %}
							{% if media.type == "game" %}
								jeu
							{% endif %}
							{% if media.type == "video" %}
								vidéo
							{% endif %}
							{% if media.type == "quizz" %}
								quiz
							{% endif %}

							comporte le ou les thèmes suivants :
							{# boucle de récupération des catégories #}
							{% for category in media.category %}
								{{ category.label }}
							{% endfor %}
							{# boucle de récupération des ages si celles-ci sont différentes du label adulte #}
							{% for ageRange in media.ageRange %}
								{% if ageRange.label != "adulte" %}
									pour un age supérieur à
									{{ageRange.label}}
								</p>
							{% endif %}
						{% endfor %}
					</p>
				</div>
				{% if media.description is defined and not null %}
					<p class="cardintro">{{media.description}}</p>
				{% endif %}
			</div>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-ecogreen align-middle w-100 my-3" data-toggle="modal" data-target="#staticBackdrop{{media.type}}{{media.id}}">
				Lire la suite
			</button>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop{{media.type}}{{media.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel d-flex justifly-content-center" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span class="text-light" aria-hidden="true">&times;</span>
						</button>
						<h5 class="modal-title text-center" id="staticBackdropLabel">{{media.title|title}}</h5>

					</div>
					<div class="modal-body">
						{% if media.description is defined and not null %}
							<p class="cardintro">{{media.description}}</p>
						{% endif %}
						{% if media.image is defined and media.image is not null %}
							<div class="d-flex justify-content-center">
								<img class="imgcard" src="{{media.image}}" alt="Card image"/>
							</div>
						{% endif %}

						<div class="cardbody">
							{% if media.content is defined and media.content is not null%}
								<p class="my-4 cardtext">
									{{media.content}}
								</p>
							{% endif %}

							<div class="my-3 cardfooter">
								{% if media.source is defined and media.source is not null %}
									Source :
									<p>{{media.source}}</p>
								{% endif %}
								{% if media.url is defined and media.url is not null and media.url != "" %}
									<div class="d-flex justify-content-center">
										<iframe class="col-12 img-fluid min-vh-100" id="inlineFrameExample" title="InlineFrameExample" src="{{media.url}}"></iframe>
									</div>
								{% endif %}
								{% if media.question is defined and media.question is not null %}
									Question :
									<p>{{media.question|raw}}</p>
								{% endif %}
								{% if media.answer is defined and media.answer is not null %}
									Réponse :
									<p>{{media.answer|raw}}</p>
								{% endif %}

								<p class="text-center my-3">écrit le :
									{{media.creationDate|date('d/m/Y à H:i')}}
									- mise à jour le :
									{{media.updateDate|date('d/m/Y à H:i')}}
									par :
								{% if media.author is defined and media.author is not null %}
									<a href="{{ path('account_profil' , {'slug': media.author.slug } ) }}" class="cardlink" id="cardAuthor">{{media.author.pseudo}}</a>
								{% else %}
									utilisateur supprimé
								{% endif %}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div></div>
