{# squelette d'une card #}
<div class="offset-md-2 col-12 col-md-10 card-body cardradius my-3" id="list-item-1">
	<div class="cardhead text-center">
		<h3 class="text-center cardtitle">{{media.title|title}}
		</h3>
		<hr class="cardline">
		<p class="cardsorting text-start">Catégories:
			<span
				class="cardlink">
				{# boucle de récupération des catégories #}
				{% for category in media.category %}
					{{ category.label }}
				{% endfor %}
			</span>


			{# boucle de récupération des ages si celles-ci sont différentes du label adulte #}
			{% for ageRange in media.ageRange %}
				{% if ageRange.label != "adulte" %}
					ages:
					<span class="cardlink">{{ageRange.label}}
					</span>
				{% endif %}
			{% endfor %}
		</p>
	</p>
	<p class="cardintro">{{media.description}}</p>
	<img class="imgcard" src="{{media.image}}" alt="Card image"/>
</div>
<div class="cardbody">
	<p class="my-4 cardtext">{{media.content}}</p>
	<div class="my-3 cardfooter">
		{% if media.source != "" %}
			Source:
			<p>{{media.source}}</p>
		{% endif %}
		{% if media.url != "" %}
			Url:
			<p>{{media.url}}</p>
		{% endif %}

		<p class="text-center">écrit le:
			{{media.creationDate|date('d/m/Y à H:i')}}
			- mise à jour le :
			{{media.updateDate|date('d/m/Y à H:i')}}
			par:
			<a href="#" class="cardlink">{{media.author.pseudo}}
			</a>
		</p>

	</div>
</div></div>
