{# squelette d'une card #}
<div class="col-12 offset-md-2 col-md-10 card-body cardradius my-3" id="list-item-1">
	<div class="cardhead text-center">
		<h3 class="text-center cardtitle">{{article.title|title}}
		</h3>
		<hr class="cardline">
		<p class="cardsorting text-start">
			Catégories:
			<span class="cardlink">{{article.articleCategory}}
			</span>
			{% if article.articleAgeRange != "adulte" %}
				ages:
				<span class="cardlink">{{article.articleAgeRange}}
				</span>
			{% endif %}
		</p>
		<p class="cardintro">{{article.description}}</p>
		<img class="imgcard" src="{{article.image}}" alt="Card image"/>
	</div>
	<div class="cardbody">
		<p class="my-4 cardtext">{{article.content}}</p>
		<div class="my-3 cardfooter">
			{% if article.source != "" %}
				Source:
				<p>{{article.source}}</p>
			{% endif %}
			{% if article.url != "" %}
				Url:
				<p>{{article.url}}</p>
			{% endif %}

			<p class="text-center">écrit le:
				{{article.creationDate|date('d/m/Y à H:i')}}
				- mise à jour le :
				{{article.updateDate|date('d/m/Y à H:i')}}
				par:
				<a href="#" class="cardlink">
					{{article.articleAuthor}}
				</a>
			</p>

		</div>
	</div>
</div>
