{%  set user ={"firstname" : 'amar', "lastname" : "bou", "role": "admin", 'isConnected': true} %}

<header>
	<nav class="navbar navbar-expand-xl navbar-dark bg-light position-fixed w-100">
		<div class="container-fluid">
			<a href="#"><img class="logo" src="../assets/img/logo.png"></a>
			<button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end mx-4" id="navbarScroll">
				<ul class="list-to-move navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll align-items-center align-middle" style="max-height: 100px;">


					{#TEST LOGIN#}


					{% if app.user %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-user"></i>
								{{ app.user.firstname | title }}
								{{ app.user.lastname | title }}
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#">Mon Profil</a>
								<a class="dropdown-item" href="#">Ecrire un article</a>
								<a class="dropdown-item" href="#">Mes articles</a>
								{% if user.role == "admin" %}
									<a class="dropdown-item" href="#">Espace Admin</a>
								{% endif %}
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{ path('account_logout') }}">Déconnexion</a>
							</div>
						</li>
					{% else %}
						<li class="nav-item mx-3">
							<a class="nav-link" href="{{ path('account_create') }}">
								<i class="fas fa-user-plus mx-2"></i>
								inscription
							</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="{{ path('account_login') }}">
								<i class="fas fa-sign-in-alt mx-2"></i>
								connexion
							</a>
						</li>
					{% endif %}


					{#FIN TEST LOGIN#}





					<li class="nav-item">
						<a class="nav-link text-light text-nowrap" href="#">Eco-gestes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="#">Jeunesse</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="#">Calculateur</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="#">Ecolexique</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light text-nowrap" href="#">Qui sommes-nous ?</a>
					</li>
					<form class="d-flex">
						<input class="form-control mx-3" type="search" placeholder="Rechercher" aria-label="Rechercher">
						<button class="btn btn-outline-success" type="submit">
							<i class="fas fa-search text-light"></i>
						</button>
					</form>
				</ul>
			</div>
		</div>
	</nav>
</header>


{% for label,messages in app.flashes %}
	<div class="container text-center my-5">
		<div class="alert alert-{{ label }}">
			{% for message in messages %}
				<p>{{ message | raw }}</p>
			{% endfor %}
		</div>
	</div>
{% endfor %}