<header>
	<nav class="navbar navbar-expand-xl navbar-dark bg-light position-fixed w-100">
		<div class="container-fluid">
			<a href="{{ path('home_index')}}"><img class="logo" src="../assets/img/logo.png"></a>
			<button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end mx-4" id="navbarScroll">
				<ul class="list-to-move navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll align-items-center align-middle" style="max-height: 100px;">



					{% if app.user %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-user"></i>
								{{ app.user.pseudo | title }}
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="{{ path('account_profil' , {'slug': app.user.slug } ) }}">Mon Profil</a>
								<a class="dropdown-item" href="{{ path('article_new') }}">Ecrire un article</a>
								<a class="dropdown-item" href="{{ path("article_manager") }}">Mes articles</a>
								{% if is_granted('ROLE_ADMIN') %}
									<a class="dropdown-item" href="{{ path('account_index')}}">Espace Admin</a>
								{% endif %}
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
							</div>
						</li>
					{% endif %}


					<li class="nav-item">
						<a class="nav-link text-nowrap" href="{{ path('article_index') }}">Tout le contenu</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('home_youth')}}">Jeunesse</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('home_calc') }}">Calculateur</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Ecolexique</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-nowrap" href="#">Qui sommes-nous ?</a>
					</li>
					<form class="d-flex">
						<input class="form-control mx-3" type="search" placeholder="Rechercher" aria-label="Rechercher">
						<button class="btn btn-outline-success" type="submit">
							<i class="fas fa-search text-light"></i>
						</button>
					</form>
				</ul>
			</div>
		</div>
	</nav>
</header>


{% for label,messages in app.flashes %}
	<div class="container text-center my-5">
		<div class="alert alert-{{ label }}">
			{% for message in messages %}
				<p>{{ message | raw }}</p>
			{% endfor %}
		</div>
	</div>
{% endfor %}