{# Création de la variable commune medias #}
{% set medias = [] %}

{# remplissage de medias #}
{% for article in articles %}
    {% set medias = medias | merge ([article])  %}
{% endfor %}

{% for game in games %}
    {% set medias = medias | merge ([game])  %}
{% endfor %}

{% for video in videos %}
    {% set medias = medias | merge ([video])  %}
{% endfor %}

{% for quizz in quizzs %}
    {% set medias = medias | merge ([quizz])  %}
{% endfor %}
{# fin de remplissage de médias #}


{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <div class="container bodyContent">
        <h1 class="my-5 text-center">
            {#        Test the roles of logged user#}
            {% if is_granted('ROLE_ADMIN') %}
                Gestion des articles du site
            {% else %}
                Gestion de mes articles
            {% endif %}
        </h1>


        <div class="dropdown">
            <button class="btn btn-lg dropdown-toggle" type="button" id="buttonAdd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ajouter un contenu
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ path('article_new') }}">Nouvel Article</a>
                <a class="dropdown-item" href="{{ path('video_new') }}">Nouvelle Vidéo</a>
                <a class="dropdown-item" href="{{ path('game_new') }}">Nouveau jeu</a>
                <a class="dropdown-item" href="{{ path('quizz_new') }}">Nouveau quizz</a>
            </div>
        </div>



        <table class="table my-5">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Catégories</th>
                <th>Tranche d'âge</th>
                <th>Type de média</th>
                <th>Date de création</th>
                <th>Date de mise à jour</th>
                <th>Auteur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>


            {% for media in medias |sort((a, b) => a.creationDate <=> b.creationDate)%}
                <tr>
                    <td class="align-middle">{{ media.title|title }}</td>

                    {# boucle de récupération des catégories #}
                    {% if media.category is defined%}
                        <td class="align-middle">
                            {% for category in media.category %}
                                {{ category.label }}
                            {% endfor %}
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    {# boucle de récupération des ages si celles-ci sont différentes du label adulte #}
                    {% for ageRange in media.ageRange %}
                        <td class="align-middle">{{ageRange.label}}</td>
                    {% endfor %}

                    <td class="align-middle">{{media.type}}</td>
                    <td class="align-middle">{{media.creationDate|date('d/m/Y à H:i')}}</td>


                    {% if media.updateDate is defined%}
                        <td class="align-middle">{{media.updateDate|date('d/m/Y à H:i')}}</td>
                    {% else %}
                        <td></td>
                    {% endif %}


                    {% if media.author.pseudo is defined%}
                        <td class="align-middle">{{media.author.pseudo}}</td>
                    {% else %}
                        <td> Utilisateur supprimé </td>
                    {% endif %}

                    <td class="align-middle">

                        {% if media.type == "article"%}
                            <a href="{{ path('article_edit' , {'id': media.id } ) }}"  id="iconUpdate" class="btn btn-sm btn-primary">
                                <i class="fas fa-pen align-middle"></i>
                            </a>
                            <form class="d-inline" action="{{ path('article_delete' , {'id': media.id } ) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce contenu ?');">
                                <button class="btn btn-sm btn-danger align-middle">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        {% elseif media.type == "game"%}
                            <a href="{{ path('game_edit' , {'id': media.id } ) }}"  id="iconUpdate" class="btn btn-sm btn-primary">
                                <i class="fas fa-pen align-middle"></i>
                            </a>
                            <form class="d-inline" action="{{ path('game_delete' , {'id': media.id } ) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce contenu ?');">
                                <button class="btn btn-sm btn-danger align-middle">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        {% elseif media.type == "video"%}
                            <a href="{{ path('video_edit' , {'id': media.id } ) }}"  id="iconUpdate" class="btn btn-sm btn-primary">
                                <i class="fas fa-pen align-middle"></i>
                            </a>
                            <form class="d-inline" action="{{ path('video_delete' , {'id': media.id } ) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce contenu ?');">
                                <button class="btn btn-sm btn-danger align-middle">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        {% elseif media.type == "quizz"%}
                            <a href="{{ path('quizz_edit' , {'id': media.id } ) }}"  id="iconUpdate" class="btn btn-sm btn-primary">
                                <i class="fas fa-pen align-middle"></i>
                            </a>
                            <form class="d-inline" action="{{ path('quizz_delete' , {'id': media.id } ) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce contenu ?');">
                                <button class="btn btn-sm btn-danger align-middle">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}