{% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    <h1>Video index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Source</th>
                <th>Url</th>
                <th>Image</th>
                <th>Description</th>
                <th>UpdateDate</th>
                <th>CreationDate</th>
                <th>Content</th>
                <th>NbLike</th>
                <th>NbDislike</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.title }}</td>
                <td>{{ video.source }}</td>
                <td>{{ video.url }}</td>
                <td>{{ video.image }}</td>
                <td>{{ video.description }}</td>
                <td>{{ video.updateDate ? video.updateDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ video.creationDate ? video.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ video.content }}</td>
                <td>{{ video.nbLike }}</td>
                <td>{{ video.nbDislike }}</td>
                <td>
                    <a href="{{ path('video_show', {'id': video.id}) }}">show</a>
                    <a href="{{ path('video_edit', {'id': video.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('video_new') }}">Create new</a>
{% endblock %}
