{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>Game index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Source</th>
                <th>Url</th>
                <th>Image</th>
                <th>Description</th>
                <th>UpdateDate</th>
                <th>CreationDate</th>
                <th>Content</th>
                <th>NbLike</th>
                <th>NbDislike</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.title }}</td>
                <td>{{ game.source }}</td>
                <td>{{ game.url }}</td>
                <td>{{ game.image }}</td>
                <td>{{ game.description }}</td>
                <td>{{ game.updateDate ? game.updateDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ game.creationDate ? game.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ game.content }}</td>
                <td>{{ game.nbLike }}</td>
                <td>{{ game.nbDislike }}</td>
                <td>
                    <a href="{{ path('game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('game_new') }}">Create new</a>
{% endblock %}
