{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div class="container bodyContent">
    <h1 class="my-5 text-center">Utilisateur {{ admin.pseudo }}</h1>

    <a class="btn btn-primary btn-lg buttonUpdate" id="buttonUpdate" href="{{ path('account_edit', {'slug': admin.slug}) }}">Modifier</a>
    {{ include('account/_delete_form.html.twig') }}

    <table class="table my-5">
        <tbody>
            <tr>
                <th class="align-middle">Id</th>
                <td class="align-middle">{{ admin.id }}</td>
            </tr>
            <tr>
                <th class="align-middle">Firstname</th>
                <td class="align-middle">{{ admin.firstname }}</td>
            </tr>
            <tr>
                <th class="align-middle">Lastname</th>
                <td class="align-middle">{{ admin.lastname }}</td>
            </tr>
            <tr>
                <th class="align-middle">Email</th>
                <td class="align-middle">{{ admin.email }}</td>
            </tr>
            <tr>
                <th class="align-middle">Password</th>
                <td class="align-middle">{{ admin.password }}</td>
            </tr>
            <tr>
                <th class="align-middle">Role</th>
                <td class="align-middle">
                    {% for roles in admin.roles %}
                        <p>{{roles}}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th class="align-middle">Image</th>
                <td class="align-middle"><img class="avatar" src="{{ admin.image }}" alt="avatar de {{ admin.pseudo }}"></td>
            </tr>
            <tr>
                <th class="align-middle">Pseudo</th>
                <td class="align-middle">{{ admin.pseudo }}</td>
            </tr>
            <tr>
                <th class="align-middle">Presentation</th>
                <td class="align-middle">{{ admin.presentation }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}




